/*silence is golden*/
div#coregen-container {
  margin-top: 20%; }

.core {
  text-align: center; }

#core-title {
  text-align: center; }

button#shuffle {
  margin: 0 auto;
  display: block; }

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px; }

@keyframes ellipsis {
  to {
    width: 20px; } }
@-webkit-keyframes ellipsis {
  to {
    width: 20px; } }
#intro-message {
  margin-top: 25%; }

#sine-wave {
  margin-top: 10%; }

#sine-wave > canvas {
  width: 300px !important;
  height: 385px !important; }
